<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Database Manager</title>
</head>
<body>
    <header class="header">
    <h1>Database Manager</h1>
    </header>

    <main>
    <h2>Em breve!</h2>
    <img src="https://cdn-icons-png.flaticon.com/512/102/102642.png" width="300" height="300"><br><br>
    <button>Add New Word</button></a>
    <button type="button">Remove Word</button>
    <button type="button">Show Database Words</button>
    </main>

<footer class="footer">
    <a href="{{ url_for('homepage') }}"><button>Return to Menu</button></a>
</footer>
</body>

</html>
