<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAME SELECT</title>
</head>
<body>
    <header class="header">
        <h1 class="title">GAME SELECT</h1>
    </header>
    <main>
    <div class="menu-container">
        <a href="pedrapapeltesoura.html" class="card">
            <img src="https://cdn-icons-png.flaticon.com/512/6793/6793733.png" alt="" class="img-card">Pedra Papel Tesoura</a>
        
        <a href="jogodaforca.html" class="card">
            <img src="https://cdn-icons-png.flaticon.com/512/3269/3269914.png" alt="" class="img-card">Forca</a>

        <a href="jogodavelha.html" class="card">
            <img src="https://static.vecteezy.com/system/resources/previews/015/304/829/non_2x/tic-tac-toe-game-symbol-icon-in-line-style-design-isolated-on-white-background-editable-stroke-free-vector.jpg" alt="" class="img-card">Jogo da Velha</a>
    </div>
    </main>
    <footer class="footer">
    <h3>Choose a game to play!</h3>
    </footer>
</body>
</html>